# Creating plots from a personal finance spreadsheet

### Import all the python libraries we'll use in this notebook

In [52]:
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from collections import defaultdict

### Import the most recent copy of the 'expenses.csv' from this project's directory

In [53]:
# Read in expenses CSV saved in local folder
expenses = pd.read_csv('expenses.csv', dtype={'amount':np.float64}, parse_dates=['date'])

In [54]:
# Use .head() function to checkout the first few rows - you can specify in the argument to head function
expenses.head(5)

,date,amount,description,category,subcategory,payment_type
0,2017-12-25,25.0,HEB,Food,Grocery,Credit Card
1,2017-12-25,78.0,Movie Theater,Entertainment,Movies,Credit Card
2,2017-12-27,100.0,Escape Room,Entertainment,Game,Credit Card
3,2017-12-27,19.0,Conans Pizza,Food,Restaurant,Cash
4,2017-12-25,25.0,HEB,Health and Beauty,Grocery,Credit Card

In [55]:
# See the column names and column datatypes
print(expenses.dtypes)

date            datetime64[ns]
amount                 float64
description             object
category                object
subcategory             object
payment_type            object
dtype: object

### Create dictionary to map past descriptions to categories

In [56]:
# Initialize empty dictionary object that takes in a list
category_dict = defaultdict(list)

# Iterate over every row in the dataframe to associate categories with past descriptions
for index, row in expenses.iterrows():
    category_dict[row['description']].append(row['category'])
    
print(category_dict)

defaultdict(<class 'list'>, {'HEB': ['Food', 'Health and Beauty'], 'Movie Theater': ['Entertainment'], 'Escape Room': ['Entertainment'], 'Conans Pizza': ['Food']})

### Create plot of expenses by category for a given month
We could group our expenses by month two ways:

#### 1) Create a new column with the month extracted from the date

In [31]:
# Add month column to dataframe for grouping
expenses['month'] =  [str(x.year) + '-' + str(x.month) for x in expenses['date']]

# View first 5 rows to see new month col
expenses.head(5)

,date,amount,description,category,subcategory,payment_type,month
0,2017-12-25,25.0,HEB,Food,Grocery,Credit Card,2017-12
1,2017-12-25,78.0,Movie Theater,Entertainment,Movies,Credit Card,2017-12
2,2017-12-27,100.0,Escape Room,Entertainment,Game,Credit Card,2017-12
3,2017-12-27,19.0,Conans Pizza,Food,Restaurant,Cash,2017-12
4,2017-12-25,25.0,HEB,Health and Beauty,Grocery,Credit Card,2017-12

In [48]:
# View all months with total amount spent
expenses.groupby('month')['amount'].sum()

month
2017-12    247.0
Name: amount, dtype: float64

#### 2) We can simply assign the date field as the index value and use a built in pandas function resample('M') to group by month

In [42]:
# View all months with total amount spent
expenses.index = expenses['date']
expenses.head(5)

,date,amount,description,category,subcategory,payment_type,month
date,,,,,,,
2017-12-25,2017-12-25,25.0,HEB,Food,Grocery,Credit Card,2017-12
2017-12-25,2017-12-25,78.0,Movie Theater,Entertainment,Movies,Credit Card,2017-12
2017-12-27,2017-12-27,100.0,Escape Room,Entertainment,Game,Credit Card,2017-12
2017-12-27,2017-12-27,19.0,Conans Pizza,Food,Restaurant,Cash,2017-12
2017-12-25,2017-12-25,25.0,HEB,Health and Beauty,Grocery,Credit Card,2017-12

In [49]:
# This function is simplier but returns the last date of the month as the month value
expenses.resample('M').sum()

            amount
date
2017-12-31   247.0

### Next, we can plot the amount spent in each category for a given month

In [51]:
# Create plot of expenses grouped by month and category
month_to_plot = input()

23-04
23-04

In [ ]:
categories_grouped = expenses.groupby(['month', 'category'])['amount']
categories_grouped.sum().plot(kind='bar')