# Create and update a personal finance spreadsheet

In [1]:
import pandas as pd

# Read in expenses CSV saved in local folder
expenses = pd.read_csv('expenses.csv')

In [2]:
# Use .head() function to checkout the first few rows
expenses.head()

         Date  Amount Store Category
0  12/25/2017      25   HEB  Grocery

In [3]:
# See the column names
list(expenses)

['Date', 'Amount', 'Store', 'Category']

In [14]:
list_colnames = list(expenses)

In [15]:
print(list_colnames)

['Date', 'Amount', 'Store', 'Category']

In [16]:
list_colnames[1]

'Amount'

In [17]:
# add new element to list
list_colnames.append('Somethingnew')
print(list_colnames)

['Date', 'Amount', 'Store', 'Category', 'Somethingnew']